<% provide(:title, 'Contact us') %>

<div class="contactContent">
<h1>Contact us</h1>
<table border="0">
<tr>
<td>Address: </td>
<td>Hrasnicka 22</td>
</tr>
<tr>
<td>Phone: </td>
<td>123456789</td>
</tr>
<tr>
<td>email: </td>
<td>something@example.com</td>
</tr>
</table> 

</div>
