<% provide(:title, 'Contact us') %>

<div class="contactContent">
<h1>Contact me</h1>
<table border="0">
<tr>
<td>Address: </td>
<td>TSO 14</td>
</tr>
<tr>
<td>Phone: </td>
<td>061/374-655</td>
</tr>
<tr>
<td>E-mail: </td>
<td>irva.stevic@gmail.com</td>
</tr>
</table> 

</div>
