// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.articleContent{


	padding:20px;
}

.art_entry{
	width:45%;
	height:250px;
	box-shadow: 10px 10px 5px #888888;
	font-size:15px;
	float:left;
	padding:10px;
	margin:10px;
	border:1px solid;
	border-radius:20px;
	word-break:break-all;
	overflow:hidden;
}
.art_entry:hover{
	width:500px;
	height:500px;
}
.auth{
	float:right;
	font-size:10px;
	padding-top:20px;
}
	
.clear { 
	clear:both; 
}