// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.articleContent{
	
	padding:20px;
}

.filter{
	padding-top:5px;
	padding-bottom:5px;

	ul {
		margin:0px;
		padding:0px;
		font-size:25px;
		list-style: none;
		display: inline-block;
		li {
			background-color:#2d89ef;
			float: left;
			height:40px;
			margin-left:5px;
			margin-right:5px;
			a {
			  vertical-align:middle;
			  margin:5px;
			  padding-top:15px;
			  padding-left:15px;
			  padding-right:15px;
			  text-decoration:none;
			}
		}
		li:hover{
			transform:scale(1.3)

		}
	}
}

.art_entry{
	position:relative;
	background-color:#094AB2;
	color:white;
	width:45%;
	height:250px;
	box-shadow: 10px 10px 5px #888888;
	float:left;
	padding:10px;
	margin:10px;
}
.art_entry:hover{
	width:45%;
	height:550px;
}
.title_entry{
	position:absolute;
	top:0;
	margin:0px;
	height:55px;
	word-break:break-all;
	overflow:hidden;
	font-size:20px;
}
.imgandtxt_entry{
	position:absolute;
	top:65px;
	bottom:40px;
	width:95%;
	word-break:break-all;
	font-size:15px;
	overflow:hidden;

}
.artimg_entry{
	float:left;
	margin-right:10px;
}
.auth{
	position:absolute; 
	bottom:0;
	right:0;
	font-size:10px;
	padding-bottom:20px;
	padding-right:20px;
}
	
.noCom{
	position:absolute; 
	bottom:0;
	font-size:15px;
	padding-bottom:20px;
}
.articleshow{
	ul {
		margin:0px;
		padding:0px;
		list-style: none;
		display: inline-block;
		li {
			float:left;
			background-color:#094AB2;
			height:40px;
			margin-left:5px;
			margin-right:5px;
			a {
			  vertical-align:middle;
			  margin:5px;
			  padding-top:15px;
			  padding-left:15px;
			  padding-right:15px;
			  text-decoration:none;
			  background-color:transparent;
			}
		}
		li:hover{
			transform:scale(1.3)

		}
	}
	
	a{
		background-color:#2d89ef;
	}
	.txt{
		background-color:#094AB2;
		color:white;
		padding:10px;
		margin-right:10px;
	}
}
.auth2{
	font-size:15px;
	float:right;
}

.comm_entry{
	width:50%;
	position:relative;
	border: 2px solid #094AB2;
	height:90px;
	a{
		color:#191970;
		background-color:transparent;
	}
	
}
.comm_img{
	position:absolute;
	top:5px;
	left:5px;
	width:75px;
	
}
.comm_name{
	position:absolute;
	left:5px;
	top:70px;
	width:75px;
	height:20px;
	text-align:center;
	overflow:hidden;
}
.comm_content{
	
	position:absolute;
	top:5px;
	left:90px;
	height:60px;
	width:60%;
	overflow:auto;
}
.comm_links{
	position:absolute;
	top:70px;
	left:90px;
	height:20px;
}

.clear { 
	clear:both; 
}

