// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.conv_thread{

	background-color:#094AB2;
	width:300px;
	height:80px;
	padding:10px;
	margin:5px;
	overflow:hidden;
	float:left;

	.usr_img{
		position:relative;
	}
	.thread_link{
		position:relative;
		left:90px;
		top:-80px;
		a {
			font-weight:bold;
			font-size:20px;
		}
	}

	.delete_link{
		position:relative;
		left:90px;
		top:-40px;
		color:white;
	}

	
}
.links{
		a{
			background-color:#2d89ef;
			margin:5px;
		}
	}

.thread_message_bg{
width:400px;
height:55px;
margin:10px;
overflow:hidden;
.sender_name{
	font-weight:bold;
			font-size:10px;
			color:white;

}
	.message_img{
		float:left;
		
		width:60px;
	}
	.message_content{
		
		float:left;
		color:#E6E6E6;
		font-size:15px;
		height:15px;

	}
	.message_timestamp{
		color:black;

	}
}