// Place all the styles related to the MyPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.footer_nav{
	
	color: #999;
	p{
		padding-left:20px;
		float:left;
		font-size:20px;
		
	}
	ul {
		background-color:#2d89ef;
		font-size: 15px;
		float: right;
		padding-right:30px;
		list-style: none;
		li {
			float: left;
			height:40px;
			a {
			  vertical-align:middle;
			  margin:5px;
			  padding-top:15px;

			  padding-left:20px;
			  padding-right:20px;
			  text-decoration:none;
			}
		}
	}
}

.header_img{
	float:left;
	a{
		background-color:white;
	}
}
.login_form{
	float:right;
	margin-top: 110px;
	margin-right: 10px;
	
	
}

.header_links{
	height:40px;
	background-color:#2d89ef;
	float:right;
	margin-top: 110px;
	font-size: 17px;
	a {
		  vertical-align:middle;
		  margin:0px;
		  padding-top:17px;
		  padding-left:20px;
		  padding-right:20px;
		  text-decoration:none;
	}
}


.contactContent{

	padding-left:30px;
	h1{
		color:#999;
	}
	table{
		tr{
			td{
				font-size:15px;
			}
		}
	}

}

.aboutContent{

	padding-left:30px;
	h1{
		color:#999;
	}
	p{
		font-size:15px;
	}
}
.singin_input{
	size:20;
	height:17px;
}

